{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage"
      }
    ],
    "airbnb",
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"]
    }],
    "react-hot-loader/babel",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }]
  ]
}
