.header {

}

.history {
  text-align: left;
  float: left;
  width: 35%;
  border: 1px solid;
}

.historyList {
  list-style: none
}

.historyItem {
  width: 90%;
}

.thread {
  text-align: left;
  margin-left: 40%;
  width: 55%;
  border: 1px solid;

  padding: 1em;
}
