.logoLink img {
  margin-top: 2.5px;
  margin-bottom: 0px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 1px solid $white;
  box-sizing: content-box;
}

.header {
  background-color: white;
}

.dropdown {
  display: inline;
}
