.newPostButton {
  width: 100%;
  color: white;
  padding: 1em;
  background-color: #0069ff;
}

.history {
  float: left;
  width: 35%;
  border: 1px solid;
}

.historyList {
  padding: 0;
  list-style: none;
}

.historyItem {
  text-align: left;
  width: 100%;
}
